.outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
}


.box{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 10px;
}

.inner1{
    background-color: red;
    border-radius: 25px;
}

.inner2{
    background-color: yellow;
    border-radius: 25px;
}

.inner3{
    background-color: rgb(10, 225, 60);
    border-radius: 25px;
}