#mainTopic{
    color: blue;
}

*{
    text-align: center;
}

h1,h3{
    font-family: Georgia;
}

.Paragraph{
    color:white ;
    background-color: cornflowerblue;
}

div button{
    color: azure;
    background-color: purple;
}