h1{
    font-family: cambria;
    color: #19d3e0;
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: red underline dashed;
    



}